body {
  background:url("../public/bg1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: -200px;
  padding: 0;
  border: 0;
 margin: 0;
}

.first {
  padding-top: 70px;
}

.routesBg {
  margin-top:45px;
  background: rgba( 255, 247, 238, .8 );
}

.boxInner {
  width: calc(100% - 42px);
  padding: 20px;
  background: rgba( 255, 247, 238, .8 );
  border: 1px solid #404040;
}

.boxOuter {
  width: calc(100% - 40px);
  margin: 20px;
  padding: 2px;
  border: 2px solid #404040;
}

.browseContainer {
  background:url("../public/bg1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: -300px;
  padding: 0;
  border: 0;
 margin: 0;
  animation-name: bg1;
 animation-duration: 1s;
}

@keyframes bg1 {
    from {
      background-position: -180px;
    }

    to {
      background-position: -300px;
  }
}

h2 {
  text-align: center;
  font-family: Lora;
  font-size: 18px;
  color: #404040;
}


.boxText {
  font-family: "Open Sans";
  font-size: 16px;
  color: #404040;
}

.boxText2 {
  font-family: "Open Sans";
  font-size: 14px;
  color: #666;
}

a {
  text-decoration: none;
}



.areaTitle {
  width: 100%;
  background: rgb( 255, 247, 238 );
  border-bottom: solid 1px #404040;
  height: 34px;
  padding-top: 10px;
  font-size: 21px;
  text-align: center;
  position: fixed;
  top: 0;
  left:0;
}

.areaTitle h2 {
  margin-top:0; 
  padding-top:0;
  }

.filterButton {
position:fixed;
top: 0;
right: 0;
}


.backButton {
position:fixed;
top: 0;
left: 0;
}

.showWall {
  color: #000;
  display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.hiddenWall {
  display: flex;
    justify-content: space-between;
  color: #ccc;
}

.filterForm {
  padding: 5px 20px;
}

.photoTopo {
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
}

.topo {
  align-self: start;
width: 300px;
padding-right: 20px;
}

.routes {width: 100%}

table.table { width: 100%; }

.table th, .table td { 
  text-align: left; 
  padding: 0.25em;
}

table {
  padding: 0 20px;
}

.meta {width: 40px;
color: #000;
font-size: 15px;}

.title {width: calc(100% - 120px;)}

.number {color: #999;
font-size: 15px;}

.hidden .text {font-weight:normal;
  color: #ccc;
}

.hidden .meta {
color: #ccc;
}

.text {font-weight:bold;
  color: #222;
font-size: 14px;}

.desc {
  font-size: 14px;
color: #999;
  border-bottom: 1px solid #DDD;
 padding-bottom:20px !important;
}


* { box-model: border-box; font-family: 'Open Sans'; }









.campaignContainer {
  max-width: 400px;
  float: left;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 10px;
}

.campaignContainer img {
  max-width: 200px;
}

button {
	margin: 5px;
    background-color: #f00; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input[type=text] {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}


.anim-appear {
  opacity: 0.01;
}
 
.anim-appear.anim-appear-active{
  opacity: 2;
  transition: opacity 5s ease-in;
}